<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
        <div class="page-header">
        <% if current_user.present? %>
        <h2>Post a vinyl you want to exchange</h2>
        <%= link_to 'Post a vinyl',
                    new_post_path,
                    :class => 'btn btn-primary' %>
                    <% else %>
                    <h4>Log in to exchange or sell vinyls in this space.<h4>
        <% end %>
        </div>
    </header>

    <hr>

    <%- model_class = Post -%>
    <% @posts.each_slice(3) do |array_of_3_items| %>    
        <div class="container">
            <div class="row">
                <% array_of_3_items.each do |post| %>
                <div class="col-sm-4 col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <%= image_tag post.image_url(:thumb).to_s %>
                            <span class="post-title"><b><%= post.album_name %>/<%= post.year %></b><br />
                                <b><%= post.artist %></b></span>
                        </div>
                        <br>
                        <div class="content">
                            <div class="author">
                                <b>Posted</b> |
                                <time datetime="2014-01-20"><%= post.created_at.strftime(" %b %d %I:%M %p") %> MT</time>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info btn-xs" ><%= link_to post_path(post), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %> VIEW <%- end -%></button>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <br>
    <% end %>
</div>